<div>
    @Html.ActionLink("Edycja", "Edit", new {  id = Model.UserTaskId }) |
    @Html.ActionLink("Cofnij", null, null, null, new { href = Context.Request.Headers.Referer})
    <button type="button" class="btn-template button-alert" data-bs-toggle="modal" data-bs-target="#modalDelete">Usuń</button>
</div>

<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Potwierdź usunięcie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Czy na pewno usunąć tę czynność?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-template button-normal" data-bs-dismiss="modal">Nie</button>
                <a asp-action="Delete" asp-route-id="@Model.UserTaskId"><button type="button" class="btn-template button-alert" data-bs-dismiss="modal">Tak</button></a>
            </div>
        </div>
    </div>
</div>