@using WMKancelariapp.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@ViewData["Title"] - WMKancelariapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/multiple-select.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Slabo+27px" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Red+Hat+Mono" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn-template button-normal" id="sidebarToggle">Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><partial name="_LoginPartial"></partial></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="bg-white" id="sidebar-wrapper">

            <div class="border-end border-bottom list-group list-group-flush">
                <div class="sidebar-heading border-bottom bg-light">
                    <a class="nav-link text-dark text-truncate" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@(User.Identity.Name.RemoveEmailDomain() ?? "---------")</a>
                </div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Index" asp-controller="Home">START</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Index" asp-controller="Clients">Klienci</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Index" asp-controller="Cases">Sprawy</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Index" asp-controller="UserTasks">Czynności</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Index" asp-controller="HourlyPrices">Stawki</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Index" asp-controller="Deadlines">Terminy</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-action="Index" asp-controller="Settlements">Finanse</a>

            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <!-- Page content-->
            <div class="container-fluid">
                <p>
                    @RenderBody()
                </p>
            </div>
        </div>
    </div>

    <footer class="border-top text-muted" id="footer">
        <div class="container ">
            &copy; 2023 - WMKancelariapp
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://unpkg.com/multiple-select@1.6.0/dist/multiple-select.min.js"></script>
</body>
</html>
