@model WMKancelariapp.Models.ViewModels.ClientDtoViewModel

@{
    ViewData["Title"] = "Nowy klient";
}
<h2>Nowy klient</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @await Html.PartialAsync("_ClientPartial", Model)
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
