@model WMKancelariapp.Models.ViewModels.ClientDtoViewModel

@{
    ViewData["Title"] = "Nowy klient";
}
<h2>Nowy klient</h2>
<hr />

@await Html.PartialAsync("_ClientPartial", Model)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
