@model WMKancelariapp.Models.ViewModels.ClientDtoViewModel

@{
    ViewData["Title"] = "Edycja";
}
<h4>Zmiana danych klienta</h4>
<hr />
@await Html.PartialAsync("_ClientPartial", Model)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
