@model WMKancelariapp.Models.ViewModels.ClientDtoViewModel

@{
    ViewData["Title"] = "Edycja";
}
<h2>Edycja danych klienta</h2>
<hr />

<div>
    <form asp-action="Edit">
        @await Html.PartialAsync("_ClientPartial", Model)
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
