@using WMKancelariapp.Extensions
@model WMKancelariapp.Models.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Ekran powitalny";

    var deadlinesToday = Model.Deadlines.Where(x => x.Date.DayOfYear <= DateTime.Today.DayOfYear && !x.IsCompleted);
    var nextSevenDays = DateTime.Today.AddDays(7);
    var deadlinesNextSevenDays = Model.Deadlines.Where(x => x.Date <= nextSevenDays && x.Date > DateTime.Today);
}

<div class="text-center">
    <h1 class="display-8">Dzień dobry, @User.Identity.Name.RemoveEmailDomain().ToTitleCase()!</h1>
</div>
<p>
    <h3>Pilne</h3>
    @await Html.PartialAsync("../Deadlines/_DeadlinesTable", deadlinesToday.ToList())
</p>
<p>
    <h3>Mniej pilne</h3>
    @await Html.PartialAsync("../Deadlines/_DeadlinesTable", deadlinesNextSevenDays.ToList())
</p>
