@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-8">Ekran powitalny</h1>
</div>
    <p>
        Sprawy z deadlinem na dziś:
        <table>
            #TODO
        </table>
    </p>
    <p>
        Kolejne sprawy z bliskim deadlinem:
        <table>
            #TODO
        </table>
    </p>
