.dropdown-content {
    display: none;
}

.filter-text-input {
    font-size: small;
    padding-left: 5px;
    width: 100%;
}

.filter-button {
    height: 2rem;
    padding: 3px 5px 3px 5px
}

.filter-button-toggled {
    background-color: floralwhite;
}

.filter-section {
    display: none;
    transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}