@model WMKancelariapp.Models.ViewModels.TaskTypeDtoViewModel
@{

}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    @Html.ValidationMessageFor(x=>x.Name, "Należy podać nazwę.", new { @class="text-danger" })
</div>
@await Html.PartialAsync("_OkCancelButtons", @Context.Request.Headers.Referer)
@Html.HiddenFor(x=>x.TaskTypeId)