@model WMKancelariapp.Models.ViewModels.TaskTypeDtoViewModel

@{
    ViewData["Title"] = "Nowa kategoria";
}

<h2>Nowa kategoria</h2>
<hr />

<div>
    <form asp-action="CreateType">
        @await Html.PartialAsync("_TaskTypePartial", Model)
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
