@model WMKancelariapp.Models.ViewModels.TaskTypeDtoViewModel

@{
    ViewData["Title"] = "Edycja kategorii";
}

<h2>Edycja kategorii</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditType">
            @await Html.PartialAsync("_TaskTypePartial", Model)
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
