@model WMKancelariapp.Models.ViewModels.TaskTypeDtoViewModel

@{
    ViewData["Title"] = "Edycja kategorii";
}

<h2>Edycja kategorii</h2>
<hr />

<div>
    <form asp-action="Edit">
        @await Html.PartialAsync("_TaskTypePartial", Model)
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
