@model WMKancelariapp.Models.ViewModels.UserTaskDtoViewModel

@{
    ViewData["Title"] = "Edycja";
}

<h4>Edycja czynności</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <partial name="_UserTaskPartial" model="Model" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
