@model WMKancelariapp.Models.ViewModels.UserTaskDtoViewModel

@{
    ViewData["Title"] = "Edycja";
}

<h4>Edycja czynności</h4>
<hr />

<div>
    <form asp-action="Edit">
        @await Html.PartialAsync("_UserTaskPartial", Model)
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
