@model WMKancelariapp.Models.ViewModels.DeadlineDtoViewModel

@{
    ViewData["Title"] = "Nowy deadline";
}

<h2>Nowy deadline</h2>
<hr />

<div>
    <form asp-action="Create">
        @await Html.PartialAsync("_DeadlinePartial", Model)
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
