@model IEnumerable<WMKancelariapp.Models.ViewModels.DeadlineDtoViewModel>

@{
    ViewData["Title"] = "Terminy";
}

<h2>Terminy</h2>

<p>
    <a asp-action="Create" class="btn-template button-create">Nowy termin</a>
    <a class="btn-template button-normal" id="filter-toggle">Filtry</a>
</p>

@await Html.PartialAsync("_DeadlinesTable", @Model.ToList())
