@model WMKancelariapp.Models.ViewModels.DeadlineIndexViewModel

@{
    ViewData["Title"] = "Terminy";
}

<h2>Terminy</h2>

<p>
    <a asp-action="Create" class="btn-template button-create">Nowy termin</a>
    <a class="btn-template button-normal" id="filter-toggle">Filtry</a>
    <a class="btn-template button-orange" id="dates-filter-toggle">Zakres dat</a>
    <div id="dates-filter" style="display:none; margin-top:-1rem">
        <form asp-action="Index">
            <table class="table">
                <div>
                    <td class="col-md-2 align-middle">
                    Od @Html.TextBoxFor(x => x.DateRangeFrom, new{ @type = "date", id = "input-date-from"} )
                    <a class="btn btn-close" id="reset-date-from"></a>
                    </td>
                    <td class="col-md-2 align-middle">
                        Do @Html.TextBoxFor(x => x.DateRangeTo, new { @type = "date", id = "input-date-to"} )
                    <a class="btn btn-close" id="reset-date-to"></a>
                    </td>
                    <td class="col-md-2">
                        <input class="btn-template button-accept" type="submit" />
                    </td>
                    <td class="col-md-3"></td>
                </div>
            </table>
        </form>
    </div>
</p>

@await Html.PartialAsync("_DeadlinesTable", @Model.DeadlineDtos.ToList())
<script type="text/javascript">
    $('#dates-filter-toggle').click(function () {
        $('#dates-filter-toggle').toggleClass("button-normal-toggled");
        $('#dates-filter').toggle();
    });

    $('#reset-date-from').click(function () {
        $('#input-date-from').val(null);
    });
    
    $('#reset-date-to').click(function () {
        $('#input-date-to').val(null);
    });
</script>