@model WMKancelariapp.Models.ViewModels.HourlyPriceDtoViewModel

@{
    ViewData["Title"] = "Stawki";
}

<h2>Stawki</h2>

@if (Model.CasesSelectList.Count() == 1)
{
    <h4>w sprawie: <b>@Model.Case.Name</b></h4>
    <h5>klient: @(Model.Case.Client?.Name ?? "-") @(Model.Case.Client?.Surname ?? "-")</h5>
}
<hr />

<div>
    <form asp-action="Update">
        @await Html.PartialAsync("_HourlyPricePartial", Model)
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
