@model WMKancelariapp.Models.ViewModels.CaseDtoViewModel

@{
    ViewData["Title"] = "Nowa sprawa";
}

<h2>Nowa sprawa</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @await Html.PartialAsync("_CasePartial", Model)
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
