@model WMKancelariapp.Models.ViewModels.CaseDtoViewModel

@{
    ViewData["Title"] = "Nowa sprawa";
}

<h2>Nowa sprawa</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group dropdown">
                <button class="btn btn-secondary btn-dropdown" onclick="dropdownToggle()">Klient</button>
                <div id="dropdown-content" class="dropdown-content">
                    <input type="text" placeholder="Wyszukaj" id="dropdownInput" onkeyup="filterFunction()"/>
                    @foreach (var client in Model.AllClients)
                    {
                        <a href="#">@client.Name @client.Surname</a>
                    }
                </div>
                <span asp-validation-for="AllClients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Stwórz" class="btn btn-primary" />
            </div>
            @Html.HiddenFor(x=>x.CaseId)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
