@model WMKancelariapp.Models.ViewModels.CaseDtoViewModel

@{
    ViewData["Title"] = "Edycja sprawy";
}

<h2>Edycja sprawy</h2>
<hr />

<div>
    <form asp-action="Edit">
        @await Html.PartialAsync("_CasePartial", Model)
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
