@model WMKancelariapp.Models.ViewModels.CaseDtoViewModel

@{
    ViewData["Title"] = "Edycja sprawy";
}

<h2>Edycja sprawy</h2>
<hr />

@await Html.PartialAsync("_CasePartial", Model)

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
